<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression">
    <test name="Parallel Test Run" parallel="classes">
        <classes>
            <class name="tests.runners.ParallelTestRun"></class>
        </classes>
    </test>

<!--    <test name="Test Run" parallel="false">-->
<!--        <classes>-->
<!--            <class name="tests.runners.RunTest"></class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>